<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/csse">CSSE</a></li>
        <li class="fork"><a href="{{site.baseurl}}/csp">CSP</a></li>
        <li class="fork"><a href="{{site.baseurl}}/csa">CSA</a></li>
        <li class="view"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></li>
        <li class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>